.chat
  .chat__side
    = render partial: "chat-side-top"
    = render partial: "chat-side-group"
  .chat__main
    .chat__main__header
      = render partial: "chat-main-header"
    .chat__main__message
      = render partial: "chat-main-message"
    .chat__main__footer
      = render partial: "chat-main-footer"

 